<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input check-radio" type="radio" id="<%= @field.machine_name %>"
           name="estimator[body][<%= @field.machine_name %>]" value="R/H"
           <%= default_value_check(@field, @estimator, true) %>>
    <label class="form-check-label" for="<%= @field.machine_name %>">R/H</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input check-radio" type="radio" id="<%= @field.machine_name %>2"
           name="estimator[body][<%= @field.machine_name %>]" value="L/H"
           <%= default_value_check(@field, @estimator, false) %>>
    <label class="form-check-label" for="<%= @field.machine_name %>2">L/H</label>
  </div>
</div>