<div class="modal fade" id="task-<%= task.id %>-invoice-history" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title text-center">Invoice history</h2>

      <div class="row">
        <div class="col-md-6">
          <div class="task-detail">
            <div class="task-detail__title">ID</div>
            <div class="task-detail__content"><%= task.id %></div>
          </div>

          <div class="task-detail">
            <div class="task-detail__title">Title</div>
            <div class="task-detail__content"><%= task.title %></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="task-detail">
            <div class="task-detail__title">Contractor</div>
            <div class="task-detail__content"><%= task.concierge.legal_title %></div>
          </div>

          <div class="task-detail">
            <div class="task-detail__title">Project</div>
            <div class="task-detail__content"><%= task.project_task.name %></div>
          </div>
        </div>

        <div class="col-md-12">
          <table style="margin-top: 20px;">
            <thead>
              <th>Time</th>
              <th>User</th>
              <th width="40%">Changes</th>
            </thead>
            <tbody>
              <% task.invoice.versions.each do |version| %>
                <% if version.event == 'update' %>
                  <tr>
                    <td><%= version.created_at.in_time_zone('MST').strftime('%Y-%m-%d %H:%M:%S') %></td>
                    <td><%= User.find(version.whodunnit)&.full_name rescue nil %></td>
                    <td>
                      <% version.changeset.each do |key, value| %>
                        <%= render 'admin/tasks/show/history_change', key: key, value: value %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
