<!-- Side Nav START -->
<div class="side-nav expand-lg">
  <div class="side-nav-inner">
    <ul class="side-nav-menu scrollable">
      <li class="side-nav-header">
        <span>Navigation</span>
      </li>

      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_project_tasks_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-folder-multiple"></i>
                                </span>
          <span class="title">Projects</span>

        </a>

      </li>

      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_users_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-account"></i>
                                </span>
          <span class="title">Users</span>

        </a>

      </li>
      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_tracker_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-map-marker-radius"></i>
                                </span>
          <span class="title">Tracker</span>

        </a>

      </li>


      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_tasks_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-clipboard-text"></i>
                                </span>
          <span class="title">Tasks</span>

        </a>

      </li>


      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_contracts_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-file-word"></i>
                                </span>
          <span class="title">Contractors</span>

        </a>

      </li>

      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_categories_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-format-align-left"></i>
                                </span>
          <span class="title">Categories</span>

        </a>

      </li>

      <li class="nav-item ">
        <a class="dropdown-toggle" href="<%= admin_sidekiq_web_path %>">
                                <span class="icon-holder">
                                    <i class="mdi mdi-source-merge"></i>
                                </span>
          <span class="title">Sidekiq</span>

        </a>

      </li>


    </ul>
  </div>
</div>
<!-- Side Nav END -->