%p#notice= notice

%p
  %b Fleet:
  = @vehicle.fleet
%p
  %b Year:
  = @vehicle.year
%p
  %b Make:
  = @vehicle.make
%p
  %b Km:
  = @vehicle.km
%p
  %b License:
  = @vehicle.license
%p
  %b Assignable:
  = @vehicle.assignable

= link_to 'Edit', edit_vehicle_path(@vehicle)
\|
= link_to 'Back', vehicles_path
