<section class="tab-section noprint no-padding-tab-section">
  <%= render 'admin/contracts/tabs_one_contract', locale: @active = 'archive_team' %>

  <!-- Tab panes -->
  <div class="tab-content noprint">
    <!-- Tab 1 -->
    <div class="tab-pane active" id="approvedContractors">
      <div class="approved-contractors-wrap clearfix">

        <div class="ac-left-col preview-section">
          <%= render 'preview' %>
        </div>
        <div class="ac-right-col">
          <table class="team-contractors-table" id="table-id">
            <thead>
            <tr>
              <th class="sort__title"><%= sort_link(@q, :gst, 'GST #<i class="sort__icon"></i>'.html_safe) %></th>
              <th class="sort__title"><%= sort_link(@q, :contact_name, 'Contact Name<i class="sort__icon"></i>'.html_safe) %></th>
              <th class="sort__title"><%= sort_link(@q, :telephone, 'Phone #<i class="sort__icon"></i>'.html_safe) %></th>
              <th class="sort__title"><%= sort_link(@q, :email, 'Email<i class="sort__icon"></i>'.html_safe) %></th>
              <th class="sort__title" width="14%"><a>Actions</a></th>
            </tr>
            </thead>
            <tbody>
            <% if @contracts.empty? %>
              <tr>
                <td colspan="6">No items</td>
              </tr>
            <% else %>

              <% @contracts.each do |contract| %>

                <tr class="" data-href="/admin/contracts/<%= contract.id %>.js">
                  <td><%= contract.gst %></td>
                  <td><%= contract.contact_name %></td>
                  <td><%= contract.telephone %></td>
                  <td><%= contract.email %></td>
                  <td>
                    <a href="/admin/new_change_status/<%= contract.id %>?status=approved&url=/admin/archive_team" class="td__accept">Accept</a>
                  </td>
                </tr>

              <% end %>
              </tbody>
            <% end %>

            </table>
        </div>
      </div>
    </div>


  </div>
</section>


<span class="showprint" style="display:none;">
<%= render 'show' %>
</span>
<style>
  .contract_prew {
    display: block;
  }

  .no-padding-tab-section {
    padding-top: 0 !important;
  }
</style>
<% if params[:success].present? %>

  <div class="modal fade show" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false" style="display: block">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <a href="/admin/archive_team">
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
        <h2 class="modal-title text-center">Successfully</h2>
        <div class="modal-body text-center">
          <p>Action completed successfully!</p>
          <p class="tmp-id"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
<% end %>