<section class="tab-section no-padding-tab-section">
  <%= render 'admin/contracts/tabs_one_contract', locale: @active = 'pending_team' %>

  <div class="tab-content">
    <!-- Tab 1 -->
    <div class="tab-pane active" id="pendingApplicants">
      <table class="contractors-table">
        <thead>
        <tr>
          <th class="sort__title"><%= sort_link(@q, :gst, 'GST #<i class="sort__icon"></i>'.html_safe) %></th>
          <th class="sort__title"><%= sort_link(@q, :contact_name, 'Contact Name<i class="sort__icon"></i>'.html_safe) %></th>
          <th class="sort__title"><%= sort_link(@q, :telephone, 'Phone #<i class="sort__icon"></i>'.html_safe) %></th>
          <th class="sort__title"><%= sort_link(@q, :email, 'Email<i class="sort__icon"></i>'.html_safe) %></th>
          <th class="fixed-width-140">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% if @contracts.empty? %>
          <tr>
            <td colspan="6">No items</td>
          </tr>
        <% else %>
          <% @contracts.each do |contract| %>

            <tr>
              <td><%= contract.gst %></td>
              <td><%= link_to contract.contact_name, admin_contract_path(contract) %></td>
              <td><%= contract.telephone %></td>
              <td><%= contract.email %></td>
              <td>
                <a href="/admin/new_change_status/<%= contract.id %>?status=approved&url=/admin/pending_team" class="td__accept">Accept</a>
                <a href="" data-href="" data-toggle="modal" data-target="#confirm-decline<%= contract.id %>" class="click-decline" rel="nofollow">Decline</a>
              </td>
            </tr>
            <!--- Decline Modal ---->
            <div class="modal fade" id="confirm-decline<%= contract.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h2 class="modal-title text-center">Are you sure that you want to decline?</h2>
                  <form action="/admin/new_change_status/<%= contract.id %>" method="get">
                    <%= hidden_field_tag 'status', 'archive' %>
                    <%= hidden_field_tag 'url', '/admin/contracts' %>
                    <div class="form-group">
                      <label class="control-label">Cause:</label>
                      <textarea type="textarea" class="form-control" name="cause" rows="5" cols="30" required="required"></textarea>
                    </div>
                    <div class="form-group text-center">
                      <input type="submit" value="Submit" class="btn btn-primary-rectangle">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<style>
  .no-padding-tab-section {
    padding-top: 0 !important;
  }
</style>

<% if params[:success].present? %>

  <div class="modal fade show" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false" style="display: block">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <a href="/admin/pending_team">
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
        <h2 class="modal-title text-center">Successfully</h2>
        <div class="modal-body text-center">
          <p>Action completed successfully!</p>
          <p class="tmp-id"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
<% end %>


